<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/assets/Images/aocblank.png" alt="aoc logo" />
          AOC
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
                >BLANK Admin</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/login"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

<p>edit-user works!</p>

<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Name" value="John Doe">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" value="john.doe@example.com">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Phone" value="555-1234">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Save Changes</button>
    </mat-card-actions>
  </mat-card>
  