<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/assets/Images/aocblank.png" alt="aoc logo" />
          AOC
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/add-assignment"
                >New Assignment</a
              >
            </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
                >BLANK Admin</a
              >
            </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"
                >Register</a
              >
            </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/login"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

<body class="body">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="editUser">
        <div class="name">
        <mat-form-field>
          <!--between matinput and formcontrolname you can put placeholder=... to have text in the background-->
          <!--testing current using preset value to have the field already filled in to able to be edited-->
          <mat-label>First name</mat-label>
          <input id="firstname" matInput formControlName="firstName">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input id="lastname" matInput formControlName="lastName">
        </mat-form-field>
      </div>
        
      <div class="pers">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input id="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Username</mat-label>
        <input id="username" matInput formControlName="username">
        </mat-form-field>
      </div>

      <div class="dob">
      <mat-form-field>  
        <input id="dob" placeholder="Date of Birth" matInput [matDatepicker]="dob" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="pers">
      <mat-form-field>
        <mat-label>College</mat-label>
        <input id="college" matInput formControlName="college">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Major</mat-label>
        <input id="major" matInput formControlName="major">
      </mat-form-field>
      </div>

      </form>
    </mat-card-content>
    <mat-card-actions class="button">
      <a class="button1" mat-raised-button color="primary" href="/profile">Cancel</a>
      <button class="button2" mat-raised-button color="primary" (click)="save()">Save Changes</button>
    </mat-card-actions>
  </mat-card>
</body>