li {
    margin-bottom: 8px;
  }
  ul {
    background-color: #F7F9FC;
    padding: 17px 20px;
}
a {
    border-radius: 45px;
}

  .nav-item {
    margin: 10px 16px;
  }
  .navbar-brand img {
    height: 46px;
    margin-right: 8px;
    width: 46px;
  }
  .loginField
  {
    margin-top: 20px;
  }
  p {
    padding-top: 150px;
    font-size: 60px;
    font-family: 'Broadway'
  }
  .homeButton {
    padding-top: -200px;
    grid-row: 2;
  }
button {
    width: 200px;
    height: 50px;
    background-color: #859CFB;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.bod {
    background: Linear-gradient(to bottom, #FBE485, #859CFB);
    height: 88.6vh;
    display: grid;
    justify-content: center;
}