<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/Images/aoc.jpeg" alt="aoc logo" />
        AOC
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="#"
              >BLANK<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
              >BLANK Admin</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
<body class="loginField">
  <mat-form-field>
    <mat-label>Username</mat-label>

    <input matInput placeholder="Userame" formControlName="username" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>

    <input
      matInput
      placeholder="Password"
      formControlName="password"
      required
    />
  </mat-form-field>
</body>
