li {
  margin-bottom: 8px;
}
ul {
    background-color: #F7F9FC;
    padding: 17px 20px;
}
a {
    border-radius: 45px;
}
.nav-item {
  margin: 10px 16px;
}
.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}
.card {
  padding-top: 20px;
  top: 50px;
  left: 28%;
  align-items: center;
  justify-content: center;
  width: 83vh;
  background-color: #eae1d0;
}
.title {
    margin-top: -15px;
    margin-bottom: 15px;
    color: black;
    font-size: 34px;
    font-family: "Broadway";
}
.form {
    width: 500px;
    margin-bottom: 15px;
}
.B1 {
    margin-left: 0px;
    width: 165px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.B2 {
    margin-left: 125px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.hidden {
  visibility: hidden;
}
.back {
    background: Linear-gradient(to bottom, #FBE485, #859CFB);
    height: 88.6vh;
}
mat-card-actions {
    margin-bottom: 15px;
}