<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/assets/Images/aocblank.png" alt="aoc logo" />
          AOC
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary my-2 my-sm-0" href="/add-assignment"
                  >New Assignment</a
                >
              </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
                >BLANK Admin</a
              >
            </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"
                >Register</a
              >
            </li>
            <li class="nav-item hidden">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/login"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
</body>


<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">Create a New Assignment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="assignmentForm">

        <mat-form-field class="form">
            <input id="assignmentName" matInput placeholder="Assignment Name" formControlName="assignmentName" required>
            <mat-error *ngIf="assignmentForm.get('assignmentName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        
        <br>
        
        <mat-form-field class="form">
          <mat-label>Assignment Type</mat-label>
          <mat-select formControlName="assignmentType" id="assignmentType">
            <mat-option value=""></mat-option>
            <mat-option value="homework">Homework</mat-option>
            <mat-option value="quiz">Quiz</mat-option>
            <mat-option value="project">Project</mat-option>
            <mat-option value="exam">Exam</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field class="form">
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Assignment due date" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
            <mat-error *ngIf="assignmentForm.get('dueDate')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="form">
          <input id="desc" matInput placeholder="Assignment Description" formControlName="desc" required>
          <mat-error *ngIf="assignmentForm.get('desc')?.hasError('required')">This field is required</mat-error>
      </mat-form-field>

      <br>

        <mat-form-field class="form">
          <input id="points" matInput placeholder="Total Points" formControlName="points" required>
          <mat-error *ngIf="assignmentForm.get('points')?.hasError('required')">This field is required</mat-error>
      </mat-form-field>

      <br>

        <mat-form-field class="form">
          <input id="weight" matInput placeholder="Assignment Weight" formControlName="weight" required>
          <mat-error *ngIf="assignmentForm.get('weight')?.hasError('required')">This field is required</mat-error>
      </mat-form-field>
        

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="B1" mat-raised-button color="primary" (click)="assignmentForm.reset()">Clear</button>
      <button class="B2" mat-raised-button color="primary" (click)="createAssignment()">Create Assignment</button>
    </mat-card-actions>
  </mat-card>
  