<head>
    <meta charset="utf-8">
    <title>Attack on College</title>
  
    
  </head>
  
  
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="#">
        <a id="homelink" href="/"><img src="/assets/Images/aocblank.png" alt="aoc logo" /></a>
        AOC
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item profile-item">
            <a href="/profile"><button id="profile" class="btn btn-outline-primary my-2 my-sm-0">My Profile</button></a>
          </li>
          <li class="nav-item profile-item">
            <a href="/add-assignment"><button id="addassignment" class="btn btn-outline-primary my-2 my-sm-0">Add-Assignment</button></a>
          </li>
          <li class="nav-item profile-item">
            <a href="/admin"><button id="admin" class="btn btn-outline-primary my-2 my-sm-0">Admin</button></a>
          </li>
          <li class="nav-item">
            <a href="/register"><button id="register" class="btn btn-outline-primary my-2 my-sm-0">Register</button></a>
          </li>
        <li class="nav-item">
          <a href="/login"><button id="loginwhite" class="btn btn-outline-primary my-2 my-sm-0">Login</button></a>
        </li>
        </ul>
      </div>
    </div>
    </nav>
  
    <header class="text-center">
      <div class="container">
        <div class="row">
          <div class="col text-center">
        <h1>You're an Academic Weapon</h1>
    <p>Show off to your friends!</p>
    
    <a href="/login"><button id="login" class="btn btn-primary btn-lg">Login</button></a>
      </div>
    </div>
  </div>
    </header>
    <div class="section first-section">
      <div class="container">
        <div class="row justify-content-around align-items-center">
          <div class="col-5">
            <img class="img-fluid" img id="logo"[src]="ImagePath" alt="cat 1">
          </div>
      
   
  
    <div class="col-5">
    <h2>Show Off Your Brightest Moments</h2>
    <p>Attack on College, the new, exciting way to show your stuff</p>
  
    <ul>
      <li>Show Your Achievements</li>
      <li>Save them to your own profile</li>
      <li>Share them with your friends</li>
      <li>Track achievements for each course</li>
    </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="section second-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-sm10 col-md-8 col-lg-5">
  
          <h2>Respect the Grind!</h2>
          <p>College can be frustrating. With Attack on College, you can learn to enjoy it!:</p>
  
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/Images/progress.png" alt="progress">
        <h3>Show!</h3>
        <p>Make sure everyone sees your progress.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/Images/save.jpg" alt="save">
        <h3>Save!</h3>
        <p>Save your achievements to your profile.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/Images/leaderboard.png" alt="cake">
        <h3>Track!</h3>
        <p>Track your progress through each course.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/Images/lightbulb.png" alt="popsicle">
        <h3>Motivate!</h3>
        <p>Use all these features to drive your motivation to learn</p>
      </div>
    </div>
  </div>
  
  <footer class="text-center">
    <small>Made <span><img class="footer-logo" src="/assets/Images/aocblank.png" alt=""></span> by AOC</small>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
  <router-outlet></router-outlet>
  
  