<body class="color">
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/assets/Images/aocblank.png" alt="aoc logo" />
          AOC
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary my-2 my-sm-0" href="/add-assignment"
                  >New Assignment</a
                >
              </li>
            <li class="nav-item hidden">
              <a id="admin"class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
                >BLANK Admin</a
              >
            </li>
            <li class="nav-item hidden">
              <a id="register"class="btn btn-outline-primary my-2 my-sm-0" href="/register"
                >Register</a
              >
            </li>
            <li class="nav-item hidden">
              <a id="login"class="btn btn-outline-primary my-2 my-sm-0" href="/login"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  
  
      <h1>Achievement Page</h1>
      <mat-divider></mat-divider>
    <body class="table_">
    
      <table mat-table [dataSource]="dataSource" class="lessons-table mat-elevation-z8">
        
        <ng-container matColumnDef="title">
          <th mat-header-cell class="title-cell" *matHeaderCellDef> Title </th>
          <td mat-cell class="title-cell" *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell class="description-cell" *matHeaderCellDef> Description </th>
          <td mat-cell class="description-cell" *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell class="progress-cell" *matHeaderCellDef> Progress </th>
          <td mat-cell class="progress-cell" *matCellDef="let element"> {{element.progress}} </td>
        </ng-container>

        <ng-container matColumnDef="XPgain">
          <th mat-header-cell class="XPgain-cell" *matHeaderCellDef> Experience gain </th>
          <td mat-cell class="XPgain-cell" *matCellDef="let element"> {{element.XPgain}} </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </body>
      <mat-divider></mat-divider>

  </body>
