li {
    margin-bottom: 8px;
  }
  ul {
    background-color: #F7F9FC;
    padding: 17px 20px;
  }
  .nav-item {
    margin: 10px 16px;
  }
  a {
    border-radius: 45px;
  }
  .navbar-brand img {
    height: 46px;
    margin-right: 8px;
    width: 46px;
  }
  .loginField
  {
    margin-top: 20px;
  }
  .color {
    background: Linear-gradient(to bottom, #FBE485, #859CFB);
    height: 965px;
  }
  h1 {
    text-align: center;
    margin-top: 15px;
  }
  .hidden {
    visibility: hidden;
  }
  table {
    margin-top: 50px;
  }
  .table_ {
    margin-left: 275px;
    margin-right: 275px;
  }
  .lessons-table {
    background-color: #eae1d0;
  }
  .title-cell {
    font-size: larger;
    width: 325px;
    height: 60px;
    text-align: center;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
  }
  .description-cell {
    font-size: larger;
    width: 800px;
    height: 60px;
    text-align: center;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
  }
  .XPgain-cell {
    font-size: larger;
    width: 180px;
    height: 60px;
    text-align: center;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
  }
  .achHeader {
    color: white;
    font-family: "Broadway";
    font-size: 64px;
    text-shadow: 0 0 15px #f6f21a
  }