li {
  margin-bottom: 8px;
}
ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}
.nav-item {
  margin: 10px 16px;
}
.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}
.profile-item{
  visibility: hidden;
}
.button {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.button1 {
  margin-right: 20px;
}
.card {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}