<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/Images/aocblank.png" alt="aoc logo" />
        AOC
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile"
              >My Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/add-assignment"
              >New Assignment</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin"
              >BLANK Admin</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/register"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>


<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>person</mat-icon>
      </div>
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p id="name">Name: John Doe </p>
      <p id="username">Username: Username</p>
      <p id="dob">DOB: 01/01/1999</p>
      <p id="email">Email: JohnDoe@email.com</p>
      <p id="college">College: University of Florida</p>
      <p id="major">Major: Computer Science</p>
    </mat-card-content>
    <mat-card-actions class="button">
      <a class="button1" mat-raised-button color="primary" href="/edit">Edit Profile</a>
      <a class="button1" mat-raised-button color="primary" href="/add-course">Add a course</a>
      <a class="button1" mat-raised-button color="primary" href="/add-assignment">Add an assignment</a>
    </mat-card-actions>
  </mat-card>
  