li {
  margin-bottom: 8px;
}
ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}
.nav-item {
  margin: 10px 16px;
}
mat-icon {
  margin-left: 40px;
}
.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}
.profile-item{
  visibility: hidden;
}
.content {
  margin-bottom: 10px;
}
.button {
  margin-top: 100px;
  margin-left: 5vh;
  margin-right: 5vh;
}
.button1 {
  margin-right: 20px;
  height: 50px;
}
.profileCard {
  margin-right: 115px;  
  width: 65vh;
  height: 65vh;
  display: inline-flex;
  padding: 10px;
}
.assignCard {
  vertical-align: top;
  width: 98vh;
  height: 65vh;
  display: inline-flex;
  padding: 30px;
}
.background {
  padding: 10vh;
  background: Linear-gradient(to bottom, #FBE485, #859CFB);
  height: 83vh;
}
p {
  margin-left: 40px;
  font-size: large;
}
.A {
  margin-left: 40px;
  font-size: 20px;
}
.B {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
.title-cell {
  font-size: larger;
  width: 33%;
}
.due_date-cell {
  font-size: larger;
  width: 33%;
}
.course_code-cell {
  font-size: larger;
  width: 33%;
}