.name mat-form-field + mat-form-field {
    margin-left: 10px;
    margin-bottom: 0px;
  }

.password mat-form-field + mat-form-field {
  margin-left: 10px;
}

.username mat-form-field + mat-form-field {
    margin-left: 10px;
  }

  .secondForm mat-form-field + mat-form-field {
    margin-left: 10px;
  }