
<h2>Create a new user</h2>

<button><a href="">Home</a></button>
<button><a href="/login">Login</a></button>

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Basic Details</ng-template>

      <div class="Name">
      <mat-form-field>

        <mat-label>First name</mat-label>

        <input matInput placeholder="First name" formControlName="firstName" required>

      </mat-form-field>

      

      <mat-form-field>

        <mat-label>Last name</mat-label>

        <input matInput placeholder="Last name" formControlName="lastName" required>

      </mat-form-field>
      </div>
      
      <br/>

      <mat-form-field>

        <mat-label>College</mat-label>

        <textarea matInput placeholder="College" formControlName="college" required>

        </textarea>

      </mat-form-field>

      <div>

        <button mat-button matStepperNext>Next</button>

      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Personal information</ng-template>

      <mat-form-field>

        <mat-label>Date of Birth</mat-label>

        <input matInput [matDatepicker]="picker" formControlName="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
      </mat-form-field>
      
      <br/>
      
      <mat-form-field>

        <mat-label>Major</mat-label>

        <input matInput placeholder="Major" formControlName="major" required>

      </mat-form-field>

      <br/>

      <mat-form-field>

        <mat-label>Email</mat-label>

        <input matInput placeholder="email@example.com" formControlName="email" required>
      </mat-form-field>

      <br/>

      <div>

        <button mat-button matStepperPrevious>Back</button>

        <button mat-button matStepperNext>Next</button>

      </div>

    </form>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Done</ng-template>

    <p>You are now done.</p>

  

    <mat-list>

	 <mat-list-item> <strong>First name:</strong> {{ this.firstFormGroup.value.firstName }}</mat-list-item>
   
   <mat-list-item> <strong>Last name:</strong> {{ this.firstFormGroup.value.lastName }}</mat-list-item>

	 <mat-list-item> <strong>College:</strong> {{ this.firstFormGroup.value.college }}</mat-list-item>
   
   <mat-list-item> <strong>Date of Birth:</strong> {{ this.secondFormGroup.value.datepicker }}</mat-list-item>

	 <mat-list-item> <strong>Major:</strong> {{ this.secondFormGroup.value.major }}</mat-list-item>

	 <mat-list-item> <strong>Email:</strong> {{ this.secondFormGroup.value.email }}</mat-list-item>

	</mat-list>

  

    <div>

      <button mat-button matStepperPrevious>Back</button>

      <button mat-button (click)="stepper.reset()">Reset</button>

      <button mat-button (click)="submit()">Submit</button>

    </div>

  </mat-step>

</mat-horizontal-stepper>